@page

@{
    ViewData["Title"] = "Ajax";
}

    <div id="app">
        <h2>Using ajax in Razor Pages </h2>
        <hr />
        <img src="~/spinner.gif" v-if="loading" />
        <table class="table" v-else>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Summary</th>

                </tr>
            </thead>
            <tr v-for="(bug,index) in bugs">
                <td>{{index+1}}</td>
                <td>{{bug.name}}</td>
                <td>{{bug.summary}}</td>

            </tr>
        </table>
        <partial name="_modals" />

    </div>
@section Scripts{

    <script src="~/lib/vue/vue.min.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                bugs: [],
                loading:false
            },
            created: function () {
                this.getBugs();

            },
            methods: {

                getBugs: function () {
                    var vm = this;
                    vm.loading = true;

                    $.ajax({ url: "/index?handler=BugData", method: "GET" })
                        .done(function (data) {
                            vm.bugs = data;
                            vm.loading = false;
                        }).fail(function () {
                            // todo : log error
                        });
                }
            }
        });
    </script>
}

